<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <div th:each="cds_cheese : ${cheeses}" class="checkbox">
        <span th:text="${cds_cheese.getName()} "></span>
        <input type="checkbox" name="cheeseToRemove" th:value="${cds_cheese.getName()}" />

    </div>
    <br></br>

    <input type="submit" value="Remove Cheese" />
</form>

</body>
</html>